# Backend dependencies
backend/node_modules/

# Environment variables
backend/.env
frontend/.env

# Uploaded files
backend/uploads/

/node_modules
package-lock.json
package.json
# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db